<h1 class="mb-4">Agregar Película</h1>

<%= form_with model: @movie, local: true, class: 'mb-4' do |form| %>
  <div class="mb-3">
    <%= form.label :name, 'Nombre', class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :synopsis, 'Sinopsis', class: 'form-label' %>
    <%= form.text_area :synopsis, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :director, 'Director', class: 'form-label' %>
    <%= form.text_field :director, class: 'form-control' %>
  </div>
  <%= form.submit 'Guardar', class: 'btn btn-success' %>
<% end %>

<%= link_to 'Volver a la lista', movies_path, class: 'btn btn-secondary' %>
