<h1>Nueva Película</h1>
<%= form_with(model: @movie, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :synopsis %>
  <%= form.text_area :synopsis %>

  <%= form.label :director %>
  <%= form.text_field :director %>

  <%= form.submit %>
<% end %>
